__pycache__
data.json
db.sqlite3
realtime-server/node_modules
livechat-server/node_modules
rplace-server/node_modules
rplace-server/backups/*
navstevnost_log.txt
question_log.txt
node_modules/*
ladkaguesser_data.csv