<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IvanMan</title>
    <style>
        #canvas{
            max-width: 100vw;
            border-bottom: 5px solid black;
        }

        #joystick-canvas{
            max-width: 100vw;
        }

        #controls-container{
            text-align: center;
            width: 100%;
        }

        .menu-img{
            width: 50px;
        }
    </style>
</head>
<body style="padding: 0; margin: 0;">
    <canvas id="canvas"></canvas>
    <!--<canvas id="joystick-canvas"></canvas>-->

    <div id="controls-container">
        <img class="menu-img" id="up" draggable="false" style="border: 5px solid black" onclick="player.switchDirection = 'up'" src="/static/images/ivanman/up_arrow.png"><br>
        <img class="menu-img" id="left" draggable="false" style="border: 5px solid black;" onclick="player.switchDirection = 'left'" src="/static/images/ivanman/left_arrow.png">
        <img class="menu-img" id="down" draggable="false" style="border: 5px solid black;" onclick="player.switchDirection = 'down'" src="/static/images/ivanman/down_arrow.png">
        <img class="menu-img" id="right" draggable="false" style="border: 5px solid black;" onclick="player.switchDirection = 'right'" src="/static/images/ivanman/right_arrow.png">
    </div>

    <img src="/static/images/ivanman/test_map_2.png" id="map-img" style="display: none;">

    <script src="/static/javascript/ivanman/classes/TouchInfo.js"></script>
    <script src="/static/javascript/ivanman/classes/GameObject.js"></script>
    <script src="/static/javascript/ivanman/classes/Player.js"></script>
    <script src="/static/javascript/ivanman/classes/Drawing.js"></script>
    <script src="/static/javascript/ivanman/classes/Coin.js"></script>
    <script src="/static/javascript/ivanman/classes/Ghost.js"></script>
    <script>
        document.getElementById("up").addEventListener("contextmenu", (evt) => {evt.preventDefault()})
        document.getElementById("left").addEventListener("contextmenu", (evt) => {evt.preventDefault()})
        document.getElementById("down").addEventListener("contextmenu", (evt) => {evt.preventDefault()})
        document.getElementById("right").addEventListener("contextmenu", (evt) => {evt.preventDefault()})
    </script>
    <script src="/static/javascript/ivanman/ivanman.js"></script>
</body>
</html>