<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles/responsive-nav-bar.css">
    <link rel="stylesheet" href="/static/styles/column-layout.css">
    <link rel="stylesheet" href="/static/styles/vertical-menu.css">
    <link rel="stylesheet" href="/static/styles/form.css">
    <link rel="stylesheet" href="/static/styles/collapsible.css">
    <style>
      .centered{
            position: fixed;
            margin: auto;
            width: 400px;
            height: 150px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            text-align: center !important;
            max-height: fit-content;
            background-color: white;
            border: 3px solid #333;
        }

        .vertical-menu{
          margin-left: auto;
          margin-right: auto;
        }
    </style>
    <title>IvanMan</title>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="/">Hlavní stránka</a>
        <div class="dropdown">
          <button class="dropbtn">Archiv
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/archiv">Archiv</a>
            <a href="/archiv/vitani_novacku">Vítání nováčků</a>
          </div>
        </div>
        <a href="/ivanman_welcome" class="active" >IvanMan</a>
        <a href="/faq">FAQ</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="responsiveNavbar()">&#9776;</a>
    </div>

    <div class="row">
        <div class="column left">
        </div>
        <div class="column middle">
            <h2>Bohužel...</h2>
            <p>(doplň iniciály učitele) tě chytil/a... blablabla...</p>

            <p>Počet sesbíraných mincí: {{pocetCoinu}}</p>
            <p>Celkový čas: {{cas}}</p>
            <p>Počet dosažených bodů: {{pocetBodu}}</p>

            <button type="button" class="collapsible"><strong>Jak počítáme body?</strong></button>
            <div class="collapsible-content">
              <p>Body se počítají následujícím způsobem:</p>
              <p>
                <math>
                    <mrow>
                     <mi>pocetBodu</mi>
                     <mo>=</mo>
                     <mfrac>
                       <mrow>
                         <msup>
                            <mi>pocetMinci</mi>
                            <mn>2</mn>
                         </msup>
                       </mrow>
                       <mrow>
                         <mn>cas</mn>
                         <!--<mo>&InvisibleTimes;</mo>
                         <mi>a</mi>-->
                       </mrow>
                     </mfrac>
                    </mrow>
                   </math>
                </p>
            </div> 

            <p>
                Pokud chceš zveřejnit svůj výsledek, napiš nám sem jméno, pod kterým bude možné výsledek dohledat:
            </p>

            <form action="/ivanman" method="post" id="submit-form">
                <input type="text" id="jmeno" name="jmeno" placeholder="Jméno">

                <div style="display: none;">
                    <input type="text" name="request" id="request" value="point_submit">
                    <input type="number" name="win" id="win" value="0">
                    <input type="number" name="pocetBodu" id="pocetBodu" value="{{pocetBodu}}">
                    <input type="number" name="pocetCoinu" id="pocetCoinu" value="{{pocetCoinu}}">
                    <input type="number" name="cas" id="cas" value="{{cas}}">
                    <input type="number" name="id" id="id" value="{{id}}">
                </div>
            </form>

            <button onclick="submitCustom()" class="form-button">Odeslat</button>
        </div>
        <div class="column right">
          
        </div>

        <div class="centered" id="name-too-long-popup" style="display: none;">
        
          <h3>Příliš dlouhé jméno</h3>

          <p>Jméno musí být kratší, než 20 znaků.</p>
  
          <div class="vertical-menu">
            <a style="display: inline;" href="javascript:hidePopup()">OK</a>
        </div>
      </div>
    </div>

    <script>
      function submitCustom(){
        /**
         * @type {HTMLInputElement}
         */ 
        const jmenoField = document.getElementById("jmeno")

        if(jmeno.value.length > 20){
          const popupDiv = document.getElementById("name-too-long-popup")
          popupDiv.style.display = "block"
          return "kokot"
        }

        if(jmenoField.value == ""){
          jmenoField.value = "Anonymní"
        }

        /**
         * @type {HTMLFormElement}
         */
        const submitForm = document.getElementById("submit-form")
        submitForm.submit()
      }

      function hidePopup(){
        document.getElementById("name-too-long-popup").style.display = "none"
      }
    </script>

    <!--
        PASTED GARBAGE AHEAD
    -->
    <script>
        function responsiveNavbar() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }

        var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("collapsible-active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
} 
        </script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>
</html>