<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYMPlace</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles/responsive-nav-bar.css">
    <link rel="stylesheet" href="/static/styles/column-layout.css">
    <link rel="stylesheet" href="/static/styles/vertical-menu.css">
    <style>
      .selected{
        opacity: 100% !important;
      }

      button{
        background-color: #ddd;
        color: black;
        padding: 12px;
        text-decoration: none;
        border: none;
      }

      button:hover{
        background-color: #bbb;
        cursor: pointer;
      }
      
      @media screen and (max-width: 600px) {
        .empty-col{
          width: 0 !important;
        }

        .content-col{
          width: 50% !important;
        }
      }
    </style>
</head>
<body>
  <div class="topnav" id="myTopnav">
    <a href="/">Hlavní stránka</a>
    <div class="dropdown">
      <button class="dropbtn">Archiv
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/archiv">Archiv</a>
        <a href="/archiv/vitani_novacku">Vítání nováčků</a>
        <a href="/archiv/gymplace">GYMPlace</a>
      </div>
    </div> 
    <div class="dropdown active">
      <button class="dropbtn">IvanMan
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/ivanman_welcome" class="active-inverted">IvanMan</a>
        <a href="/ivanman/leaderboard">Tabulka vítězů</a>
      </div>
    </div>
    <a href="/faq">FAQ</a>
    <a href="/ucitel_zemepisu">Učitel zeměpisu</a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="responsiveNavbar()">&#9776;</a>
  </div>

    <div class="row">
        <div class="column left">
        </div>
        <div class="column middle">
            <h2>IvanMan</h2>

            <p>Máme rádi hru PacMan. A máme rádi Ivana Pazourka. 
              Tak jsme vytvořili hru, která spojila naše velké radosti. 
              Posbírejte všechny body, coiny, penízky? a zachraňte Ivana! Není totiž v učitelském sboru moc oblíbený.
            </p>
            
            <h4>Vyber si vzhled mapy:</h4>

            <!--<div class="img-holder">
              <div style="width: 49%; display: inline-block; padding: 0; margin: 0; opacity: 50%;" class="selected">
                <img style="width: 49%;" src="/static/images/ivanman/map_classic.png">
                <p style="width: 49%; margin: 0 !important;">Classic</p>
              </div>
              <div style="width: 49%; display: inline-block; padding: 0; margin: 0; opacity: 50%;">
                <img style="width: 49%;" src="/static/images/ivanman/map_neon.png">
                <p style="width: 49%; margin: 0 !important;">Neon</p>
              </div>
              
            </div>-->
            
            <div style="float: left; width: 100%; display: block;" class="row">
              <div class="empty-col" style="width: 25%; float: left;"><p></p></div>

              <div class="content-col selected" style="width: 25%; float: left; opacity: 50%;" id="classic-div" onclick="selectClassic()">
                <img style="width: 100%; display: inline-block; padding: 0; margin: 0;" src="/static/images/ivanman/map_classic.png">
                <p style="text-align: center;">Classic</p>
              </div>

              <div class="content-col" style="width: 25%; float: left; opacity: 50%;" id="neon-div" onclick="selectNeon()">
                <img style="width: 100%; display: inline-block; padding: 0; margin: 0;" src="/static/images/ivanman/map_neon.png">
                <p style="text-align: center;">Neon</p>
              </div>

              <div class="empty-col" style="width: 25%; float: left;"></div>
              
            </div>
            

            <form action="/ivanman" method="post" style="display: none;" id="reditect-form">
                <input type="text" name="request" id="request" value="from_landing_page">
            </form>

            <a id="link" href="/ivanman?map=classic"><button>Pokračovat</button></a>
            

            <!--<div class="vertical-menu" style="margin-top: 200px;">
                <a href="/ivanman">Pokračovat</a>
            </div>-->
        </div>
        <div class="column right">
          
        </div>
    </div>

    <script>
      function selectClassic(){
        document.getElementById("classic-div").classList.add("selected")
        document.getElementById("neon-div").classList.remove("selected")
        document.getElementById("link").href = "/ivanman?map=classic"
      }

      function selectNeon(){
        document.getElementById("neon-div").classList.add("selected")
        document.getElementById("classic-div").classList.remove("selected")
        document.getElementById("link").href = "/ivanman?map=neon"
      }
    </script>

    <!--
        PASTED GARBAGE AHEAD
    -->
    <script>
        function responsiveNavbar() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
        </script>
</body>
</html>
