<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYMPlace</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles/responsive-nav-bar.css">
    <link rel="stylesheet" href="/static/styles/column-layout.css">
    <link rel="stylesheet" href="/static/styles/vertical-menu.css">
</head>
<body>
  <div class="topnav" id="myTopnav">
    <a href="/">Hlavní stránka</a>
    <div class="dropdown">
      <button class="dropbtn">Archiv
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/archiv">Archiv</a>
        <a href="/archiv/vitani_novacku">Vítání nováčků</a>
        <a href="/archiv/gymplace">GYMPlace</a>
      </div>
    </div> 
    <div class="dropdown active">
      <button class="dropbtn">IvanMan
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/ivanman_welcome" class="active-inverted">IvanMan</a>
        <a href="/ivanman/leaderboard">Tabulka vítězů</a>
      </div>
    </div>
    <a href="/faq">FAQ</a>
    <a href="/ucitel_zemepisu">Učitel zeměpisu</a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="responsiveNavbar()">&#9776;</a>
  </div>

    <div class="row">
        <div class="column left">
        </div>
        <div class="column middle">
            <h2>IvanMan</h2>

            <p>Máme rádi hru PacMan. A máme rádi Ivana Pazourka. 
              Tak jsme vytvořili hru, která spojila naše velké radosti. 
              Posbírejte všechny body, coiny, penízky? a zachraňte Ivana! Není totiž v učitelském sboru moc oblíbený.</p>
            
            <form action="/ivanman" method="post" style="display: none;" id="reditect-form">
                <input type="text" name="request" id="request" value="from_landing_page">
            </form>

            <div class="vertical-menu">
                <a href="/ivanman">Pokračovat</a>
            </div>
        </div>
        <div class="column right">
          
        </div>
    </div>

    <!--
        PASTED GARBAGE AHEAD
    -->
    <script>
        function responsiveNavbar() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
        </script>
</body>
</html>
