<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles/responsive-nav-bar.css">
    <link rel="stylesheet" href="/static/styles/column-layout.css">
    <link rel="stylesheet" href="/static/styles/vertical-menu.css">
    <title>GVN Qr Kód</title>
</head>
<body id="body">
    <div class="topnav" id="myTopnav">
        <a class="active" href="/">Hlavní stránka</a>
        <div class="dropdown">
          <button class="dropbtn">Archiv
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/archiv">Archiv</a>
            <a href="/archiv/vitani_novacku">Vítání nováčků</a>
            <a href="/archiv/gymplace">GYMPlace</a>
          </div>
        </div>
        <a href="/faq">FAQ</a>
        <a href="/ucitel_zemepisu">Učitel zeměpisu</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="responsiveNavbar()">&#9776;</a>
    </div>

    <div class="row">
        <div class="column left">
        </div>
        <div class="column middle">
            <span id="gymplace-message-container">
              <h2>GYMPlace je u konce!</h2>
              <p>Děkujeme všem za účast! Výsledek plátna spolu s timelapsem celé historie <strong>(v úterý, 18. 10.)</strong> můžeš najít v archivu, odkaz níže.</p>
            </span>
            
            <div class="vertical-menu">
                <a href="/archiv/gymplace">Pokračovat do archivu o GYMPlace</a>
            </div>

            <br><br><hr><br>

            <h2>Učitel zeměpisu</h2>
            <p>Měl/a jsi někdy pocit, že máš problém s učením zeměpisu? Pokud byla tvoje odpověď "Ano", náše nová aplikace je přímo pro tebe! Pokud nebyla, pořád se na ní jdi podívat a vyzkoušet, zajisté tě ve spoustě ohledů obohatí.</p>
            <div class="vertical-menu">
                <a href="/ucitel_zemepisu">Pokračovat k učiteli zeměpisu</a>
            </div>
        </div>
        <div class="column right">
          
        </div>
    </div>

    <script>
      function updateCas(){
        const d = new Date()
        time = d.getTime() /1000
        timeDiff = 1665784800 - time
        const textField = document.getElementById("cas-konec-platna")
        const messageContainer = document.getElementById("gymplace-message-container")

        if(timeDiff < 0){
          messageContainer.innerHTML = "<h2>GYMPlace je u konce!</h2><p>Děkujeme všem, kteří se zúčastnili. Na plátno se pořád můžeš podívat. Pokud ještě není prázdné, můžeš nám pomoct s úklidem.</p> "
          return
        }

        hours = Math.floor(timeDiff/3600)
        /**
         * @type {number}
        */
        let minutes = Math.floor(Math.floor(timeDiff%3600)/60)
        /**
         * @type {number}
        */
        let seconds = Math.floor(timeDiff - (hours*3600) - (minutes*60))

        if(minutes.toString().length == 1){
          /**
            * @type {string}
            */
          var minutesString = "0" + minutes
        }else{
          /**
            * @type {string}
            */
          var minutesString = minutes
        }

        if(seconds.toString().length == 1){
          /**
            * @type {string}
            */
          var secondsString = "0" + seconds
        }else{
          /**
            * @type {string}
            */
          var secondsString = seconds
        }
        textField.innerHTML = hours + ":" + minutesString + ":" + secondsString
      }
    </script>

    <!--
        PASTED GARBAGE AHEAD
    -->
    <script>
        function responsiveNavbar() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
        </script>
</body>
</html>
