<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles/responsive-nav-bar.css">
    <link rel="stylesheet" href="/static/styles/column-layout.css">
    <link rel="stylesheet" href="/static/styles/vertical-menu.css">
    <title>GVN Qr Kód</title>
</head>
<body id="body">
    <div class="topnav" id="myTopnav">
        <a class="active" href="/">Hlavní stránka</a>
        <!--<div class="dropdown">
          <button class="dropbtn">Archiv
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/archiv">Archiv</a>
            <a href="/archiv/vitani_novacku">Vítání nováčků</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div> -->
        <a href="/gymplace_welcome">GYMPlace</a>
        <!--<a href="/faq">FAQ</a>-->
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="responsiveNavbar()">&#9776;</a>
    </div>

    <div class="row">
        <div class="column left">
        </div>
        <div class="column middle">
            <h2>GYMPlace</h2>
            <p>Plátno pro všechny jménem GYMPlace je připraveno. Více informací na odkazu níže.</p>

            <br>

            <p>Na stránce můžete velmi brzy očekávat další hry. Buďte ve střehu!</p>
            <div class="vertical-menu">
                <a href="/gymplace_welcome">Pokračovat na GYMPlace</a>
            </div>

            <!--<br><br><hr><br>

            <h2>Archiv</h2>
            <p>Blablabla o archivu.</p>

            <br>

            <p>Blablabla o archivu podruhé (nemusíme)</p>
            <div class="vertical-menu">
                <a href="/archiv">Pokračovat do archivu</a>
            </div>-->
        </div>
        <div class="column right">
          
        </div>
    </div>

    <!--
        PASTED GARBAGE AHEAD
    -->
    <script>
        function responsiveNavbar() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
        </script>
</body>
</html>
