<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Přidat Body</title>
</head>
<body>
    <div class="container-sm border border-primary rounded" style="width: 30%; margin-top: 10%; min-width: fit-content;">
        <form class="form" action="/pridat_body" method="post" style="margin: 1%">
            <div class="mb-3 mt-3">
                <label for="trida">Třída:</label>
                <select name="trida" class="form-control" id="trida">
                    <option></option>
                    <option>1.A</option>
                    <option>1.B</option>
                    <option>1.C</option>
                </select>
            </div>

            <div class="mb-3 mt-3">
                <label for="pocetBodu">Počet Bodů:</label>
                <input type="number" class="form-control" name="pocetBodu" id="pocetBodu">
            </div>

            <div class="mb-3 mt-3">
                <label for="aktivita">Aktivita:</label>
                <input type="text" class="form-control" name="aktivita" id="aktivita">
            </div>

            <div class="mb-3 mt-3">
                <label for="password">Heslo:</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>

            <button type="submit" class="btn btn-primary" style="margin-bottom: 2.2%;">Odeslat</button>
        </form>
    </div>
</body>
</html>