<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .menu-img{
            width: 50px;
        }

        .menu{
            text-align: center;
            width: 100%;
        }

        #table-scale-slider{
            width: 100%;
        }
    </style>
</head>
<body>
    <input type="range" min="0.3" max="3" value="0.7" step="0.1" id="table-scale-slider">
    <div class="menu">
        <img class="menu-img" id="handIcon" style="border: 5px solid black;" onclick="selectHand()" src="/static/images/rplace/hand.png">
        <img class="menu-img" id="brushIcon" style="border: 5px solid red;" onclick="selectBrush()" src="/static/images/rplace/brush.png">
        <img class="menu-img" id="eraserIcon" style="border: 5px solid black;" onclick="selectEraser()" src="/static/images/rplace/eraser.jpg">
        <input type="color" id="color">
    </div>

    <script>
        window.mode = "brush"
        window.color = "black"

        document.getElementById("table-scale-slider").addEventListener("input", () =>{
            value = document.getElementById("table-scale-slider").value
            parent.window.CONTENT.contentWindow.scaleTable(Math.pow(2.5, value)-1)
        })

        document.getElementById("color").addEventListener("change", onColorChange, false)

        function onColorChange(event){
            color = event.target.value
        }

        function selectBrush(){
            mode = "brush"
            document.getElementById("handIcon").style = "border: 5px solid black"
            document.getElementById("brushIcon").style = "border: 5px solid red"
            document.getElementById("eraserIcon").style = "border: 5px solid black"
        }

        function selectHand(){
            mode = "hand"
            document.getElementById("handIcon").style = "border: 5px solid red"
            document.getElementById("brushIcon").style = "border: 5px solid black"
            document.getElementById("eraserIcon").style = "border: 5px solid black"
        }

        function selectEraser(){
            mode = "eraser"
            document.getElementById("handIcon").style = "border: 5px solid black"
            document.getElementById("brushIcon").style = "border: 5px solid black"
            document.getElementById("eraserIcon").style = "border: 5px solid red"
        }
    </script>
</body>
</html>