<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="padding: 0; margin: 0;">
    <iframe id="iframe-content" style="height: 70vh; width: 100%;" src="/rplace_content" frameborder="0"></iframe><br>
    <iframe id="iframe-menu" style="height: 25vh; width: 100%;" src="/rplace_menu" frameborder="0"></iframe>

    <script>
        window.onload = () => {
            window.CONTENT = document.getElementById("iframe-content")
            window.MENU = document.getElementById("iframe-menu") 

            window.TABLE = CONTENT.contentDocument.getElementsByTagName("table")[0]

            console.log(TABLE)
        }
        
    </script>
</body>
</html>