.vertical-menu {
    width: 200px;
  }
  
  .vertical-menu a {
    background-color: #ddd;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #bbb;
  }
  
  .vertical-menu a.active {
    background-color: #007bff;
    color: white;
  }